:root{
    --color-light-red: 0, 100%, 67%;
    --color-orangey-yellow: 39, 100%, 56%;
    --color-green-teal: 166, 100%, 37%;
    --color-cobalt-blue: 234, 85%, 45%;
    --color-background-light-slate-blue: 252, 100%, 67%;
    --color-background-light-royal-blue: 241, 81%, 54%;
    --color-circle-violet-blue: 256, 72%, 46%, 1;
    --color-circle-persian-blue: 241, 72%, 46%, 0;
    
}

body{
    min-height: 95vh;

    font-family: 'Hanken Grotesk', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app{
    width: 52rem;
    height: 36rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

main{
    background-image: linear-gradient(
        hsl(var(--color-background-light-slate-blue)),
        hsl(var(--color-background-light-royal-blue))
    );

    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result{
    background-image: linear-gradient(
        hsla(var(--color-circle-violet-blue)),
        hsla(var(--color-circle-persian-blue))
    );
    width: 15vw;
    height: 15vw;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside{
    display:flex;
    flex-direction: column;
    
}

ul{
    padding: 1rem;
}

li{
    background: wheat; /*todo change color*/

    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;

    list-style: none;
}

a.button{
    text-decoration: none;
    color: white;

    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;

    text-align: center;

    background: blue; /*todo change color*/
}

/*FOOTER*/
footer{
    margin-top: auto;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}