aside{
    display:flex;
    flex-direction: column;
    
}

ul{
    padding: 1rem;
}

li{
    padding: 1rem;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-radius: 1rem;

    list-style: none;
}

p.summary{
    margin: 0;
}

li.reaction{
    color: var(--color-light-red);
    background-color: var(--color-light-red-transparent);
}

li.memory{
    color: var(--color-orangey-yellow);
    background-color: var(--color-orangey-yellow-transparent);
}

li.verbal{
    color: var(--color-green-teal);
    background-color: var(--color-green-teal-transparent);
}

li.visual{
    color: var(--color-cobalt-blue);
    background-color: var(--color-cobalt-blue-transparent);
}

a.button{
    background: var(--color-dark-gray-blue);

    text-decoration: none;
    color: white;
    text-align: center;

    padding: 1rem;
    margin: 1rem;

    border-radius: 2rem;
}