aside{
    display:flex;
    flex-direction: column;
    
}

ul{
    padding: 1rem;
}

li{
    background: wheat; /*todo change color*/

    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;

    list-style: none;
}

li.reaction{
    color: var(--color-light-red);
    background-color: var(--color-light-red-transparent);
}

li.memory{
    color: var(--color-orangey-yellow);
    background-color: var(--color-orangey-yellow-transparent);
}

li.verbal{
    color: var(--color-green-teal);
    background-color: var(--color-green-teal-transparent);
}

li.visual{
    color: var(--color-cobalt-blue);
    background-color: var(--color-cobalt-blue-transparent);
}

a.button{
    text-decoration: none;
    color: white;

    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;

    text-align: center;

    background: blue; /*todo change color*/
}