.app{
    width: 52rem;
    height: 36rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

main{
    background-image: linear-gradient(
        hsl(var(--color-background-light-slate-blue)),
        hsl(var(--color-background-light-royal-blue))
    );
    color: hsl(0, 0%, 100%);

    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

small,h3, p{
    color: hsl(241, 100%, 89%);
}

.result{
    background-image: linear-gradient(
        hsla(var(--color-circle-violet-blue)),
        hsla(var(--color-circle-persian-blue))
    );
    width: 10vw;
    height: 10vw;
    border-radius: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    width: 19vw;

    font-size: 1.125rem;
    text-align: center;
}