main{
    min-width: 10rem;
    background-image: var(--color-gradient-background);
    color: var(--color-white);

    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result{
    background-image: var(--color-circle-background);

    margin: 2.5rem;

    width: 15vw;
    height: 15vw;

    border-radius: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result h1{
    font-size: 4.5rem;
}

main h2{
    font-size: 2rem;
}

p.comparsion{
    width: 16vw;
    text-align: center;

    margin-top: 1rem;
}